.topbar{
    height: 50px;
    background-color:white;
    color: rgb(7, 7, 7);
}
.navbar{
    position:sticky;
    top: 0px;
    background-color: white;
}
.navbar a{
    font-size: 20px;
    font-weight:300px;
}
.sm img{
    float: left;
    /* margin-left: -100px; */
}
.sm{
    margin-left: -100px;
}
.sm p{
    margin-left: 50px;
}
.sm2 img{
    float: left;
    /* margin-left: -100px; */
}
.sm2{
    margin-left: -80px;
}
.sm2 p{
    margin-left: 50px;
}
.color{
    color: rgb(0, 132, 255);
    height: 20px;
}
.float{
    float: left;
}

.bg-light{
    height: 500px;
    float: right;
    margin-right: -1000px;
}
.side a img{
    float: left;
    margin-top: 10px;
    
}
.side a h5{
    float:right;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    margin-top: 150px;
    /* margin-left: 105px; */
}
.table td{
    color: lightgrey;
    font-weight: bold;
}
.margin a{
    text-decoration: none;
    color: white;
}
.colum{
    margin-top: 0px;
    margin-left: 20px;
}
.colum h2{
    margin-left: 20px;
}
.colum p{
    margin-left: 20px;
    margin-top: 30px;
    color: white;
}
.colum img{
    float: left;
    margin-top: 0px;
}
.qwe img{
    float: left;
    margin-left: 10px;
    margin-bottom: 30px;
}
.qwe  p{
    margin-left: 30px;
    margin-top:30px;
}
.qwe img{
    margin-left: 10px;
    margin-top: -5px;
}
.ewq p{
    margin-left: 50px;
    margin-top:0px;
}
.ewq img{
    margin-left: -30px;
    margin-top: -5px;
}

